:root {
    color-scheme: dark light;
    font-family: system-ui;
    font-weight: 300;

    @media screen and (max-width: 600px) {
        font-size: 14px;
    }
}

header,
main,
footer {
    max-width: 80ch;
    margin: auto;
}

img {
    max-width: 100px;
}

table {
    width: 100%;

    tr {
        td {
            vertical-align: top;
            width: 21%;

            &:nth-child(2) {
                width: 40%;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    &:first-child {
        margin-bottom: 3em;

        /* line-height: 1.25; */
        h1 {
            margin: 0;
            padding: 0;
            line-height: 1;
            margin-bottom: 0.25em;
        }

        img {
            float: left;
            margin-right: 1em;
        }

        td {
            vertical-align: top;
        }

        td:first-child {
            width: 45%;
            /* line-height: 10em; */
        }

        /* tr:first-child td:nth-child(2) strong {
            font-size: 2em;
            line-height: 1;
        } */
    }

}

ul {
    margin-bottom: 3em;
}

ul li {
    line-height: 1.5;
}

ul li p {
    margin: 0;
}

ul li p a img {
    max-width: 220px;
}

ul:has(img) {
    margin: 0;
    padding: 0;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}