body,
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: system-ui;
    text-align: left;
    background-color: var(--light);
    max-width: 70ch;
    margin: auto;
    padding: 0 1em;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

button {
    text-align: inherit;
    color: inherit;
    background-color: var(--back);
    padding: 0.45rem 1rem;
    margin: 0;
    border: 0;
    border-radius: 0.25rem;
    font-size: inherit;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}

button:hover:active {
    background-color: var(--active);
}

* {
    box-sizing: border-box;
}

ul li {
    margin: 0.5em 0;
}

ul.inline {
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

ul.inline li {
    flex: fit-content;
    margin: 0;
}

ul.inline li:first-child {
    flex: 20%
}

ul.inline li:last-child {
    text-align: right;
}