:root {
    color-scheme: dark light;
    font-family: system-ui;
    font-weight: 300;
}

header,
main,
footer {
    max-width: 80ch;
    margin: auto;
}

img {
    max-width: 100px;
}

table {
    width: 100%;

    tr {
        td {
            width: 25%;

            &:nth-child(2) {
                width: 45%;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    &:first-child {
        margin-bottom: 3em;
        /* line-height: 1.25; */

        img {
            float: left;
            margin-right: 1em;
        }

        tr strong {
            font-size: 2em;
            line-height: 1;
            /* vertical-align: text-bottom; */
        }

        td:first-child {
            width: 75%;
            /* line-height: 10em; */
        }

        /* tr:first-child td:nth-child(2) strong {
            font-size: 2em;
            line-height: 1;
        } */
    }

}

ul {
    margin-bottom: 3em;
}

ul li {
    line-height: 1.5;
}

ul li p {
    margin: 0;
}

ul li p a img {
    max-width: 225px;
}

ul:has(img) {
    margin: 0;
    padding: 0;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}